

{ "presets": ["env"] }


// {
//     "presets": [
//       [
//         "@babel/preset-env",
//         {
//           "targets": {
//             "ie": "11"
//           }
//         }
//       ]
//     ]
//   }